<form method="post" action="<%=url%>" enctype="application/x-www-form-urlencoded">
    <input name="title" placeholder="Title (optional)">
    <textarea name="body" placeholder="Post body (optional if you have a title)"></textarea>
    <input type="submit">
</form>