<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form method="post" action="/users/login" enctype="application/x-www-form-urlencoded">
            <label>Username: <input name="username" placeholder="Username"></label>
            <label>Password: <input name="password" type="password" placeholder="Password"></label>
            <input type="submit">
        </form>
    </body>
</html>