<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form method="post" action="/users/signup" enctype="application/x-www-form-urlencoded">
            <label>Username:<span class="required">*</span> <input name="username" placeholder="Username" required></label>
            <label>Password:<span class="required">*</span> <input name="password" type="password" placeholder="Password" required></label>
            <label>Email:<span class="required">*</span> <input name="email" type="email" placeholder="Email" required></label>
            <label>First name: <input name="firstName" placeholder="First"></label>
            <label>Last name: <input name="lastName" placeholder="Last"></label>
            <input type="submit">
        </form>
    </body>
</html>