<form method="post" action="/users/verifyAge" enctype="multipart/form-data">
    <label>ID: <input type="file" capture="environment" name="id"></label>
    <label>Face: <input type="file" capture="user" name="face"></label>
    <input type="submit">
</form>
<p>IDs are manually verified. This means your files will be stored (encrypted) in a database until we can check them. Once your age is verified, your files will be deleted. In the meantime, only administrators with an encrypted key can view them. Your files will not be sold or given to any person or company.</p>